@model IEnumerable<AspCourse.Models.Player>

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit player</h2>

<h4>Tournament players</h4>
<hr />
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Second name</th>
                <th scope="col">Birth day</th>
                <th scope="col">Subscribe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model)
            {
                var styleRow = (player.Tournament == null) ? "success" : "danger";
                <tr class="@styleRow">
                    <td>
                        @Html.DisplayFor(modelItem => player.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.SecondName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.BirthDay)
                    </td>
                    <td>
                        @if (player.Tournament != null)
                        {
                            <button type="submit" class="btn btn-success" asp-controller="Tournaments"
                                    asp-action="UnSubscribeTournament" asp-route-id="@ViewBag.Tournament.Id"
                                    asp-route-idPlayer="@player.Id">
                                Unsubscribe
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-danger" asp-controller="Tournaments"
                                    asp-action="SubscribeTournament" asp-route-id="@ViewBag.Tournament.Id"
                                    asp-route-idPlayer="@player.Id">
                                Subscribe
                            </button>
                        }

                    </td>
                </tr>

            }
        </tbody>
    </table>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
