@model IEnumerable<AspCourse.Models.Player>

@{
    ViewData["Title"] = "ShowPlayer";
}

<h2>ShowPlayer</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @using (Html.BeginForm("SetTeam", "Tournaments"))
                {
                    @Html.Hidden("playerId", item.Id)
                    @Html.Hidden("tournamentId", ViewData["tournamentId"])
                    @Html.DropDownList("teamId", (IEnumerable<SelectListItem>)ViewBag.Teams as SelectList, new { onchange = "this.form.submit()" })
                }
            </td>
        </tr>
                    }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>